<div>
    <div class="event" 
        [style.width.px]="width" 
        [style.height.px]="height" 
        [style.left.px]="startX"
        [style.top.px]="startY">
        <div class="event-border-left" 
            [style.height.px]="height" 
            [style.left.px]="startX" 
            [style.top.px]="startY">
        </div>
        <div class="sample-items">
            <span class="sample-item">Sample Item</span>
             <span class="sample-location">Sample Location</span>
        </div>
      
    </div>
</div>